body {
  font: 14px "Open Sans", "Arial", sans-serif;
}

video {
  left: 0;
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: auto;
}

#startButton {
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 25%;
  height: 5%;
  border: none;
  font-size: 100%;
  text-align: center;
  color: #fff;
  background: #6569ee;
  left: 0;
  bottom: 0;
}

#stopButton {
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 25%;
  height: 5%;
  border: none;
  font-size: 100%;
  text-align: center;
  color: #fff;
  background: #6569ee;
  left: 25%;
  bottom: 0;
}

#downloadButton {
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 25%;
  height: 5%;
  border: none;
  font-size: 100%;
  text-align: center;
  color: #fff;
  background: #ee8a65;
  bottom: 0;
  right: 25%;
}

#mapButton {
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 25%;
  height: 5%;
  border: none;
  font-size: 100%;
  text-align: center;
  color: #fff;
  background: #6569ee;
  right: 0;
  bottom: 0;
}
